{% extends 'base.html' %} {% block title %}Player Page{% endblock %} {% block content %}
<!-- Content -->
<div class="content">
    <div class="animated fadeIn">
        <div class="row">

            <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>Player by Country</h4>
                        </div>
                        <div class="Vector-map-js">
                            <div id="156a6214-720d-446f-94d4-ed00a8483052" style="width: 100%; height: 100%;" class="plotly-graph-div"></div>
                        </div>
                    </div>
                    <!-- /# card -->
                </div>
                <!-- /# column -->

            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Top Players with High Market Values</h4>
                    </div>
                    <div class="Vector-map-js">
                        <div id="3a353a12-7d4c-4333-b2ba-700dea24536d" style="width: 100%; height: 100%;" class="plotly-graph-div"></div>
                    </div>
                </div>
                <!-- /# card -->
            </div>
            <!-- /# column -->

            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Players position percentage</h4>
                    </div>
                    <div class="Vector-map-js">
                        <div id="763ada94-f2a6-48ef-884e-804febf28624" style="width: 100%; height: 100%;" class="plotly-graph-div"></div>
                    </div>
                </div>
                <!-- /# card -->
            </div>
            <!-- /# column -->

            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Top Players with High Market Values</h4>
                    </div>
                    <div class="Vector-map-js">
                        <div id="9a36cdf3-f2b4-4ee5-b109-0db21437df20" style="width: 100%; height: 100%;" class="plotly-graph-div"></div>
                    </div>
                </div>
                <!-- /# card -->
            </div>
            <!-- /# column -->

            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Top Players Market Value due to their Finishing</h4>
                    </div>
                    <div class="Vector-map-js">
                        <div id="6ddf6428-5152-4c86-ac64-434f0e1ea16d" style="width: 100%; height: 100%;" class="plotly-graph-div"></div>
                    </div>
                </div>
                <!-- /# card -->
            </div>
            <!-- /# column -->

            
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4>3-4-3 (Inverted fullback formation)</h4>
                    </div>
                    <div class="Vector-map-js">
                        <div id="46ee16bb-91ab-4bcf-ab8e-399a63b7f31d" style="width: 100%; height: 100%;" class="plotly-graph-div"></div>
                    </div>
                </div>
                <!-- /# card -->
            </div>
            <!-- /# column -->


            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4>4-3-3 Cruyff Formation</h4>
                    </div>
                    <div class="Vector-map-js">
                        <div id="53b32a5e-bea7-4dca-b3bf-c8e1c73efdc5" style="width: 100%; height: 100%;" class="plotly-graph-div"></div>
                    </div>
                </div>
                <!-- /# card -->
            </div>
            <!-- /# column -->

            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4>3-5-2 (Attacking formation)</h4>
                    </div>
                    <div class="Vector-map-js">
                        <div id="f8025ae2-8478-45ed-a7b4-aa24d86ac3e4" style="width: 100%; height: 100%;" class="plotly-graph-div"></div>
                    </div>
                </div>
                <!-- /# card -->
            </div>
            <!-- /# column -->
        


            

        </div>
    </div>

</div>
<!-- .animated -->
</div>
<!-- /.content -->
{% endblock %} {% block script %}
<script type="text/javascript" src="../static/js/figure/plotlyjs-bundle.js"></script>
<script type="text/javascript" src="../static/js/figure/piechart.js"></script>
<script type="text/javascript" src="../static/js/figure/threedfigure1.js"></script>
<script type="text/javascript" src="../static/js/figure/marketvalues.js"></script>
<script type="text/javascript" src="../static/js/figure/threedfigure2.js"></script>

<script type="text/javascript" src="../static/js/figure/plotly-geo-assets.js"></script>
<script type="text/javascript" src="../static/js/figure/map_figure.js"></script>

<script type="text/javascript" src="../static/js/figure/ground_figure1.js"></script>
<script type="text/javascript" src="../static/js/figure/ground_figure2.js"></script>
<script type="text/javascript" src="../static/js/figure/ground_figure3.js"></script>

<script type="text/javascript">
    (function() {
        marketvalues
        window.PLOTLYENV = {
            'BASE_URL': 'https://plot.ly'
        };

        var gd = document.getElementById('3a353a12-7d4c-4333-b2ba-700dea24536d')
        var resizeDebounce = null;

        function resizePlot() {
            var bb = gd.getBoundingClientRect();
            Plotly.relayout(gd, {
                width: bb.width,
                height: bb.height
            });
        }

        window.addEventListener('resize', function() {
            if (resizeDebounce) {
                window.clearTimeout(resizeDebounce);
            }
            resizeDebounce = window.setTimeout(resizePlot, 100);
        });

        Plotly.plot(gd, {
            data: marketvalues.data,
            layout: marketvalues.layout,
            frames: marketvalues.frames,
            config: {
                "showLink": false,
                "linkText": "Export to plot.ly",
                "mapboxAccessToken": "pk.eyJ1IjoiY2hyaWRkeXAiLCJhIjoiY2lxMnVvdm5iMDA4dnhsbTQ5aHJzcGs0MyJ9.X9o_rzNLNesDxdra4neC_A"
            }
        });

    }());
</script>

<script type="text/javascript">
    (function() {
        window.PLOTLYENV = {
            'BASE_URL': 'https://plot.ly'
        };

        var gd = document.getElementById('763ada94-f2a6-48ef-884e-804febf28624')
        var resizeDebounce = null;

        function resizePlot() {
            var bb = gd.getBoundingClientRect();
            Plotly.relayout(gd, {
                width: bb.width,
                height: bb.height
            });
        }

        window.addEventListener('resize', function() {
            if (resizeDebounce) {
                window.clearTimeout(resizeDebounce);
            }
            resizeDebounce = window.setTimeout(resizePlot, 100);
        });

        Plotly.plot(gd, {
            data: piechart.data,
            layout: piechart.layout,
            frames: piechart.frames,
            config: {
                "showLink": false,
                "linkText": "Export to plot.ly",
                "mapboxAccessToken": "pk.eyJ1IjoiY2hyaWRkeXAiLCJhIjoiY2lxMnVvdm5iMDA4dnhsbTQ5aHJzcGs0MyJ9.X9o_rzNLNesDxdra4neC_A"
            }
        });

    }());
</script>

<script type="text/javascript">
    (function(){
        window.PLOTLYENV={'BASE_URL': 'https://plot.ly'};

        var gd = document.getElementById('9a36cdf3-f2b4-4ee5-b109-0db21437df20')
        var resizeDebounce = null;

        function resizePlot() {
            var bb = gd.getBoundingClientRect();
            Plotly.relayout(gd, {
                width: bb.width,
                height: bb.height
            });
        }

        

        
        Plotly.plot(gd,  {
            data: threedfigure1.data,
            layout: threedfigure1.layout,
            frames: threedfigure1.frames,
            config: {"showLink": false, "linkText": "Export to plot.ly", "mapboxAccessToken": "pk.eyJ1IjoiY2hyaWRkeXAiLCJhIjoiY2lxMnVvdm5iMDA4dnhsbTQ5aHJzcGs0MyJ9.X9o_rzNLNesDxdra4neC_A"}
        });
        
   }());
</script>


<script type="text/javascript">
    (function(){
        window.PLOTLYENV={'BASE_URL': 'https://plot.ly'};

        var gd = document.getElementById('6ddf6428-5152-4c86-ac64-434f0e1ea16d')
        var resizeDebounce = null;

        function resizePlot() {
            var bb = gd.getBoundingClientRect();
            Plotly.relayout(gd, {
                width: bb.width,
                height: bb.height
            });
        }

        

        
        Plotly.plot(gd,  {
            data: threedfigure2.data,
            layout: threedfigure2.layout,
            frames: threedfigure2.frames,
            config: {"showLink": false, "linkText": "Export to plot.ly", "mapboxAccessToken": "pk.eyJ1IjoiY2hyaWRkeXAiLCJhIjoiY2lxMnVvdm5iMDA4dnhsbTQ5aHJzcGs0MyJ9.X9o_rzNLNesDxdra4neC_A"}
        });
        
   }());
</script>


<script type="text/javascript">
    (function(){
        window.PLOTLYENV={'BASE_URL': 'https://plot.ly'};

        var gd = document.getElementById('156a6214-720d-446f-94d4-ed00a8483052')
        var resizeDebounce = null;

        function resizePlot() {
            var bb = gd.getBoundingClientRect();
            Plotly.relayout(gd, {
                width: bb.width,
                height: bb.height
            });
        }

        
        window.addEventListener('resize', function() {
            if (resizeDebounce) {
                window.clearTimeout(resizeDebounce);
            }
            resizeDebounce = window.setTimeout(resizePlot, 100);
        });
        

        
        Plotly.plot(gd,  {
            data: map_figure.data,
            layout: map_figure.layout,
            frames: map_figure.frames,
            config: {"showLink": false, "linkText": "Export to plot.ly", "mapboxAccessToken": "pk.eyJ1IjoiY2hyaWRkeXAiLCJhIjoiY2lxMnVvdm5iMDA4dnhsbTQ5aHJzcGs0MyJ9.X9o_rzNLNesDxdra4neC_A"}
        });
        
   }());
</script>


<script type="text/javascript">
    (function(){
        window.PLOTLYENV={'BASE_URL': 'https://plot.ly'};

        var gd = document.getElementById('46ee16bb-91ab-4bcf-ab8e-399a63b7f31d')
        var resizeDebounce = null;

        function resizePlot() {
            var bb = gd.getBoundingClientRect();
            Plotly.relayout(gd, {
                width: bb.width,
                height: bb.height
            });
        }

        
        window.addEventListener('resize', function() {
            if (resizeDebounce) {
                window.clearTimeout(resizeDebounce);
            }
            resizeDebounce = window.setTimeout(resizePlot, 100);
        });
        

        
        Plotly.plot(gd,  {
            data: ground_figure1.data,
            layout: ground_figure1.layout,
            frames: ground_figure1.frames,
            config: {"showLink": false, "linkText": "Export to plot.ly", "mapboxAccessToken": "pk.eyJ1IjoiY2hyaWRkeXAiLCJhIjoiY2lxMnVvdm5iMDA4dnhsbTQ5aHJzcGs0MyJ9.X9o_rzNLNesDxdra4neC_A"}
        });
        
   }());
</script>


<script type="text/javascript">
    (function(){
        window.PLOTLYENV={'BASE_URL': 'https://plot.ly'};

        var gd = document.getElementById('53b32a5e-bea7-4dca-b3bf-c8e1c73efdc5')
        var resizeDebounce = null;

        function resizePlot() {
            var bb = gd.getBoundingClientRect();
            Plotly.relayout(gd, {
                width: bb.width,
                height: bb.height
            });
        }

        
        window.addEventListener('resize', function() {
            if (resizeDebounce) {
                window.clearTimeout(resizeDebounce);
            }
            resizeDebounce = window.setTimeout(resizePlot, 100);
        });
        

        
        Plotly.plot(gd,  {
            data: ground_figure2.data,
            layout: ground_figure2.layout,
            frames: ground_figure2.frames,
            config: {"showLink": false, "linkText": "Export to plot.ly", "mapboxAccessToken": "pk.eyJ1IjoiY2hyaWRkeXAiLCJhIjoiY2lxMnVvdm5iMDA4dnhsbTQ5aHJzcGs0MyJ9.X9o_rzNLNesDxdra4neC_A"}
        });
        
   }());
</script>


<script type="text/javascript">
    (function(){
        window.PLOTLYENV={'BASE_URL': 'https://plot.ly'};

        var gd = document.getElementById('f8025ae2-8478-45ed-a7b4-aa24d86ac3e4')
        var resizeDebounce = null;

        function resizePlot() {
            var bb = gd.getBoundingClientRect();
            Plotly.relayout(gd, {
                width: bb.width,
                height: bb.height
            });
        }

        
        window.addEventListener('resize', function() {
            if (resizeDebounce) {
                window.clearTimeout(resizeDebounce);
            }
            resizeDebounce = window.setTimeout(resizePlot, 100);
        });
        

        
        Plotly.plot(gd,  {
            data: ground_figure3.data,
            layout: ground_figure3.layout,
            frames: ground_figure3.frames,
            config: {"showLink": false, "linkText": "Export to plot.ly", "mapboxAccessToken": "pk.eyJ1IjoiY2hyaWRkeXAiLCJhIjoiY2lxMnVvdm5iMDA4dnhsbTQ5aHJzcGs0MyJ9.X9o_rzNLNesDxdra4neC_A"}
        });
        
   }());
</script>

{% endblock %}