{% extends 'base.html' %}

{% block title %}History orders{% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="row tm-content-row">
    <p class="col-12 text-center" >
        {% if error %}
          <i class="tm-block-title" style="opacity:0.8; color:red"> {{error}} </h2>
        {% endif %}
    </p>
    <div class="col-12 tm-block-col">
          <!-- <div class="tm-bg-primary-dark tm-block tm-block-taller tm-block-h-auto" > -->
          <div class="tm-bg-primary-dark tm-block tm-block-h-auto" style="overflow: auto;" >
          <h2 class="tm-block-title">Top Orders</h2>
      
            <table class="table">

              <thead>
                <tr align="center">
                  <th scope="col">ORDER NO.</th>
                  <th scope="col">SATISFACTION</th>
                  <th scope="col">ORDER TYPE</th>
                  <th scope="col">START DATE</th>
                  <th scope="col">PLACE</th>
                  <th scope="col">PRICE</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for order in orders %}
                <tr align="center">
                  <th scope="row">
                    <b>{{ order.orderid }}</b>
                  </th>

                  <td>
                    {% if order.satisfaction <= 7 %}
                      <div class="tm-status-circle cancelled"></div>
                    {% elif order.satisfaction > 7 and order.satisfaction <= 8%}
                      <div class="tm-status-circle pending"></div>
                    {% elif order.satisfaction >= 9 %}
                      <div class="tm-status-circle moving"></div>
                    {% endif %}
                    {{ order.satisfaction }}
                  </td>
                  <td>{{order.ordertype}}</td>
                  <td>{{ order.startdate }}</td>
                  <td>{{ order.place }}</td>
                  <td>{{order.price}}</td>
                  
                  <td align="right">
                    <a class="btn btn-primary text-uppercase"
                      href="{{ url_for('order_detail.index', id = order.orderid) }}">
                      Detail
                    </a>
                  </td>

                </tr>
                {% endfor %}
              </tbody>

            </table>

          </div>
        </div>
  </div>
</div>
{% endblock %}