{% extends 'base.html' %} {% block title %}Dashboard Page{% endblock %} {% block
content %}
<!-- row -->
<div class="row tm-content-row">
  <!-- //latest hit -->
  <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
    <div
      class="tm-bg-primary-dark tm-block"
      style="border-radius: 16px 16px 16px 16px"
    >
      <h2 class="tm-block-title">Sales Performance</h2>
      <canvas id="lineChart"></canvas>
    </div>
  </div>

  <!-- //Performance -->
  <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
    <div
      class="tm-bg-primary-dark tm-block"
      style="border-radius: 16px 16px 16px 16px"
    >
      {% if g.user['position']=="projectmanager" %}
      <h2 class="tm-block-title">Individual KPI</h2>
      <canvas id="barChart"></canvas>
      {% elif g.user['position']=="photographer" or
      g.user['position']=="devicemanager" %}
      <h2 class="tm-block-title">Camera Information</h2>
      <div id="pieChartContainer">
        <canvas
          id="pieChart"
          class="chartjs-render-monitor"
          width="200"
          height="200"
        ></canvas>
      </div>
      {% elif g.user['position']=="aftereffect" %}
      <h2 class="tm-block-title">Computer Information</h2>
      <div id="pieChartContainer">
        <canvas
          id="pieChart2"
          class="chartjs-render-monitor"
          width="200"
          height="200"
        ></canvas>
      </div>
      {% endif %}
    </div>
  </div>

  <!-- //order list -->
  <!-- <div class="col-12 tm-block-col"> -->
  <div class="col-12 col-sm-6 col-md-7 tm-block-col">
    <div
      class="tm-bg-primary-dark tm-block tm-block-taller tm-block-scroll"
      style="border-radius: 16px 16px 16px 16px"
    >
      <p class="tm-block-title">
        {% if g.user['position']=="projectmanager"%}
          <a>Processing Orders &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</a>
        {% else %}
          <a>My Orders &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</a>
        {% endif %}
        {% if g.user['position']=="projectmanager" %}
        <a
          class="btn btn-primary text-uppercase"
          style="border-radius: 12px 12px 12px 12px"
          href="{{ url_for('order_detail.detail_create') }}"
        >
          Add New
        </a>
        {% endif %}
      </p>

      <table class="table">
        <thead>
          <tr align="center">
            <th scope="col">ORDER NO.</th>
            <th scope="col">STATUS</th>
            <!-- <th scope="col">MANAGER</th> -->
            <th scope="col">START DATE</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for order in orders %}
          <tr align="center">
            <th scope="row">
              <b>{{ order.orderid }}</b>
            </th>
            <td>
              {% if order.status == "preparing" %}
              <div class="tm-status-circle cancelled"></div>
              {% elif order.status == "after effect" %}
              <div class="tm-status-circle pending"></div>
              {% elif order.status == "taking photo" %}
              <div class="tm-status-circle moving"></div>
              {% endif %}
              {{ order.status.title() }}
            </td>
            <!-- <td>{{order.managername}}</td> -->
            <td>{{ order.startdate }}</td>
            <td align="right">
              <a
                class="btn btn-primary text-uppercase"
                href="{{ url_for('order_detail.index', id = order.orderid) }}"
              >
                Detail
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-6 col-md-5 tm-block-col">
    <div
      class="tm-bg-primary-dark tm-block tm-block-taller tm-block-overflow"
      style="border-radius: 16px 16px 16px 16px"
    >
      <h2 class="tm-block-title">Notification List</h2>
      <div class="tm-notification-items">
        <div class="media tm-notification-item">
          <div class="tm-gray-circle">
            <img
              src="/static/img/notification-01.jpg"
              alt="Avatar Image"
              class="rounded-circle"
            />
          </div>
          <div class="media-body">
            <p class="mb-2">
              <b>Jessica</b> and <b>6 others</b> sent you new
              <a href="#" class="tm-notification-link">product updates</a>.
              Check new orders.
            </p>
            <span class="tm-small tm-text-color-secondary">1h ago.</span>
          </div>
        </div>
        <div class="media tm-notification-item">
          <div class="tm-gray-circle">
            <img
              src="/static/img/notification-02.jpg"
              alt="Avatar Image"
              class="rounded-circle"
            />
          </div>
          <div class="media-body">
            <p class="mb-2">
              <b>Oliver Too</b> and <b>6 others</b> sent you existing
              <a href="#" class="tm-notification-link">product updates</a>. Read
              more reports.
            </p>
            <span class="tm-small tm-text-color-secondary">3h ago.</span>
          </div>
        </div>
        <div class="media tm-notification-item">
          <div class="tm-gray-circle">
            <img
              src="/static/img/notification-03.jpg"
              alt="Avatar Image"
              class="rounded-circle"
            />
          </div>
          <div class="media-body">
            <p class="mb-2">
              <b>Victoria</b> and <b>6 others</b> sent you
              <a href="#" class="tm-notification-link">order updates</a>. Read
              order information.
            </p>
            <span class="tm-small tm-text-color-secondary">4h ago.</span>
          </div>
        </div>
        <div class="media tm-notification-item">
          <div class="tm-gray-circle">
            <img
              src="/static/img/notification-01.jpg"
              alt="Avatar Image"
              class="rounded-circle"
            />
          </div>
          <div class="media-body">
            <p class="mb-2">
              <b>Laura Cute</b> and <b>6 others</b> sent you
              <a href="#" class="tm-notification-link">product records</a>.
            </p>
            <span class="tm-small tm-text-color-secondary">6h ago.</span>
          </div>
        </div>
        <div class="media tm-notification-item">
          <div class="tm-gray-circle">
            <img
              src="/static/img/notification-02.jpg"
              alt="Avatar Image"
              class="rounded-circle"
            />
          </div>
          <div class="media-body">
            <p class="mb-2">
              <b>Samantha</b> and <b>6 others</b> sent you
              <a href="#" class="tm-notification-link">order stuffs</a>.
            </p>
            <span class="tm-small tm-text-color-secondary">6h ago.</span>
          </div>
        </div>
        <div class="media tm-notification-item">
          <div class="tm-gray-circle">
            <img
              src="/static/img/notification-03.jpg"
              alt="Avatar Image"
              class="rounded-circle"
            />
          </div>
          <div class="media-body">
            <p class="mb-2">
              <b>Sophie</b> and <b>6 others</b> sent you
              <a href="#" class="tm-notification-link">product updates</a>.
            </p>
            <span class="tm-small tm-text-color-secondary">6h ago.</span>
          </div>
        </div>
        <div class="media tm-notification-item">
          <div class="tm-gray-circle">
            <img
              src="/static/img/notification-01.jpg"
              alt="Avatar Image"
              class="rounded-circle"
            />
          </div>
          <div class="media-body">
            <p class="mb-2">
              <b>Lily A</b> and <b>6 others</b> sent you
              <a href="#" class="tm-notification-link">product updates</a>.
            </p>
            <span class="tm-small tm-text-color-secondary">8h ago.</span>
          </div>
        </div>
        <div class="media tm-notification-item">
          <div class="tm-gray-circle">
            <img
              src="/static/img/notification-02.jpg"
              alt="Avatar Image"
              class="rounded-circle"
            />
          </div>
          <div class="media-body">
            <p class="mb-2">
              <b>Amara</b> and <b>6 others</b> sent you
              <a href="#" class="tm-notification-link">product updates</a>.
            </p>
            <span class="tm-small tm-text-color-secondary">8h ago.</span>
          </div>
        </div>
        <div class="media tm-notification-item">
          <div class="tm-gray-circle">
            <img
              src="/static/img/notification-03.jpg"
              alt="Avatar Image"
              class="rounded-circle"
            />
          </div>
          <div class="media-body">
            <p class="mb-2">
              <b>Cinthela</b> and <b>6 others</b> sent you
              <a href="#" class="tm-notification-link">product updates</a>.
            </p>
            <span class="tm-small tm-text-color-secondary">9h ago.</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block script %}
<script src="../static/js/moment.min.js"></script>
<!-- https://momentjs.com/ -->
<script src="../static/js/Chart.min.js"></script>
<!-- http://www.chartjs.org/docs/latest/ -->
<script src="../static/js/tooplate-scripts.js"></script>
<script>
  Chart.defaults.global.defaultFontColor = "white";
  let ctxLine,
    ctxBar,
    ctxPie,
    optionsLine,
    optionsBar,
    optionsPie,
    configLine,
    configBar,
    configPie,
    lineChart,
    barChart,
    pieChart,
    pieChart2;
  // DOM is ready
  $(document).ready(function() {
    drawLineChart(); // Line Chart
    drawBarChart(); // Bar Chart
    drawPieChart(); // Pie Chart
    drawPieChart2();
    updateBarChart();

    $(window).resize(function() {
      updateLineChart();
      updateBarChart();
    });
  });
</script>
{% endblock %}
