{% extends 'base.html' %}

{% block title %}Order Details{% endblock %}

{% block content %}

<div class="container mt-5">
<div class="row tm-content-row">
  <div class="col-12 tm-block-col">
    <!-- <div class="tm-bg-primary-dark tm-block tm-block-taller tm-block-scroll"> -->
    <div class="tm-bg-primary-dark tm-block tm-block-taller tm-block-h-auto" style="overflow: auto;">
        <!-- <p class="col-12 text-center" >
            {% if error %}
              <i class="tm-block-title" style="opacity:0.8; color:red"> {{error}} </i>
            {% endif %}
        </p> -->
      <p class="tm-block-title">
      <a>Order #{{order.orderid}} &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</a>
      <p class="col-12 text-center" >
          {% if error %}
            <i class="tm-block-title" style="opacity:0.8; color:red"> {{error}} </h2>
          {% endif %}
      </p>
      </p>
        <form method="post" action="" class="tm-signup-form row">
            <div class="form-group col-lg-4">
                <label for="managername">Manager Name</label>
                <select 
                  class="custom-select" 
                  required
                  name="managername"
                  id="managername">
                  {% for projectmanager_name in projectmanager_names %}
                    <option value="{{projectmanager_name.username}}"> {{projectmanager_name.username}} </option>
                  {% endfor %}
                </select>
            </div>

            <div class="form-group col-lg-4">
                <label for="status">Status</label>
                <select 
                  class="custom-select" 
                  required
                  name="status"
                  id="status">
                    <option value="preparing"> preparing </option>
                    <option value="taking photo"> taking photo </option>
                    <option value="after effect"> after effect </option>
                    <option value="complete"> complete </option>
                </select>
              </div>

            <div class="form-group col-lg-4">
                <label for="ordertype">Order Type</label>
                <select 
                  class="custom-select" 
                  required
                  name="ordertype"
                  id="ordertype">
                    <option value="art"> art </option>
                    <option value="business"> business </option>
                    <option value="wedding"> wedding </option>
                </select>
              </div>
            
            <div class="form-group col-lg-4">
                <label for="startdate">Start Date</label>
                <input
                    id="startdate"
                    value="{{order.startdate}}"
                    name="startdate"
                    type="date"
                    class="form-control validate"
                    required
                />
            </div>
            <!-- <div class="form-group col-lg-4">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</div> -->
            <div class="form-group col-lg-4">
                    <label for="expectduration">Expect Duration (Day)</label>
                    <input
                      id="expectduration"
                      value="{{order.expectduration}}"
                      name="expectduration"
                      type="number"
                      class="form-control validate"
                      required
                    />
            </div>
            <div class="form-group col-lg-4">
                    <label for="price">Price</label>
                    <input
                      id="price"
                      value="{{order.price}}"
                      name="price"
                      type="number"
                      class="form-control validate"
                      required
                    />
            </div>
            
            <div class="form-group col-lg-12">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</div>
            <div class="col-6 tm-block-col">
                <!-- <div class="tm-bg-primary-dark tm-block tm-block-taller tm-block-scroll"> -->
                    <h2 class="tm-block-title">Order Description</h2>
                    <!-- style="overflow:auto" -->
                    <textarea id="description"
                    name="description"
                    type="text"
                    class="form-control validate"
                    required
                    >{{order.description}}
                  </textarea>
              </div>

              

              <!-- <div class="form-group col-lg-12">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</div> -->
              <div class="form-group col-lg-3">
                  <label for="photographer_name">Photographer Name</label>
                    {% for p_name in photographer_names %}
                      <div class="checkbox">
                          <label><input id="photographer_name" name="photographer_name" type="checkbox" value="{{p_name.username}}">
                            {{p_name.username}}
                          </label>
                      </div>
                    {% endfor %}
              </div>

              <div class="form-group col-lg-3">
                  <label for="aftereffect_name">After Affect Name</label>
                    {% for a_name in aftereffect_names %}
                      <div class="checkbox">
                          <label><input id="aftereffect_name" name="aftereffect_name" type="checkbox" value="{{a_name.username}}">
                            {{a_name.username}}
                          </label>
                      </div>
                    {% endfor %}
              </div>

            <div class="form-group col-lg-2">
              <label class="tm-hide-sm">&nbsp;</label>
              <button
                type="submit"
                class="btn btn-primary btn-block text-uppercase"
              >
                Save
              </button>
            </div>
            <div class="form-group col-lg-2">
                <label class="tm-hide-sm">&nbsp;</label>
                <a class="btn btn-primary btn-block text-uppercase" href="{{ url_for('order_detail.index', id = order.orderid) }}" >
                    Cancel  
              </a>
            </div>
        </form>         
    </div>
  </div>
</div>
</div>

{% endblock %}