{% extends 'base.html' %}
{% block title %}Login Page{% endblock %} 

{% block content %}
<div class="container tm-mt-big tm-mb-big">
    <div class="row">
      <div class="col-12 mx-auto tm-login-col">
        <p class="col-12 text-center" >
          {% if error %}
            <i class="tm-block-title" style="opacity:0.8; color:red"> {{error}} </i>
          {% endif %}
        </p>
        <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
          <div class="row">
            <div class="col-12 text-center">
              <h2 class="tm-block-title mb-4">Initialize your password</h2>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-12">
              <form method="post" class="tm-login-form">
                <div class="form-group">
                  <label for="username">Username</label>
                  <input
                    name="username"
                    type="text"
                    class="form-control validate"
                    id="username"
                    value=""
                    required
                  />
                </div>
                <div class="form-group mt-3">
                  <label for="password">Password</label>
                  <input
                    name="password"
                    type="password"
                    class="form-control validate"
                    id="password"
                    value=""
                    required
                  />
                </div>
                <div class="form-group mt-3">
                    <label for="password2">Re-enter Password</label>
                    <input
                      id="password2"
                      name="password2"
                      type="password"
                      class="form-control validate"
                    />
                  </div>
                <div class="form-group mt-3">
                  <label for="position">Position</label>
                  <select 
                    class="custom-select" 
                    required
                    name="position"
                    id="position">
                    <option value="After Effect">After Effect</option>
                    <option value="boss">Boss</option>
                    <option value="Device Manager">Device Manager</option>
                    <option value="Photographer">Photographer</option>
                    <option value="Project Manager">Project Manager</option>
                  </select>
                </div>

                <div class="form-group mt-4">
                  <input
                    type="submit"
                    value="Done"
                    class="btn btn-primary btn-block text-uppercase"
                  >
                  </input>
                </div>
              </form>
              <a class="mt-4 btn btn-primary btn-block text-uppercase" href="{{ url_for('auth.login') }}" >
                Already initialized?  
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %} 



