{% extends 'base.html' %} {% block title %}Player Page{% endblock %} {% block content %}
<!-- Content -->
<div class="content">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <!-- <button onclick="fetch_data_and_change()">Fetch Data and Change</button> -->
                        <!-- <h4 class="mb-3">Rader chart </h4> -->
                        <canvas id="radarChart"></canvas>
                    </div>
                </div>
            </div>
            <!-- /# column -->

<input id="empty" name = {{id}} hidden> </label>




            <div class="col-lg-6">
                <aside class="profile-nav alt">
                    <section class="card">
                        <div class="card-header user-header alt bg-light">
                            <div class="media">
                                <a href="#">
                                    <img class="rounded-circle" src="{{ url_for('static', filename='images/player/'+player_detail.photo) }}" alt=""></a>
                                </a>
                                <div class="media-body">
                                    <h2 class="text-dark display-6">{{player_detail["name"]}}</h2>
                                    <p>{{player_detail["nationality"]}}</p>
                                </div>
                            </div>
                        </div>

                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <a>  Overall Rating <i class="fa fa-flag"></i> <span class="badge badge-primary pull-right">{{player_detail["overall"]}}</span></a>
                            </li>
                            <li class="list-group-item">
                                <a> Potential <i class="fa fa-rocket"></i> <span class="badge badge-danger pull-right">{{player_detail["potential"]}}</span></a>
                            </li>
                            <li class="list-group-item">
                                <a> Value <i class="fa fa-eur"></i>  <span class="badge badge-success pull-right">{{player_detail["value"]}}</span></a>
                            </li>
                            <li class="list-group-item">
                                <a>  Wage <i class="fa fa-eur"></i><span class="badge badge-warning pull-right r-activity">{{player_detail["wage"]}}</span></a>
                            </li>
                        </ul>

                    </section>
                </aside>
            </div>

            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <!-- <h4 class="mb-3">Polar Chart </h4> -->
                        <!-- <h5 class="bar-title text-center ">Passing</h5> -->
                        <canvas id="polarChart"></canvas>
                    </div>
                </div>
            </div>

            <!-- /# column -->

            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <!-- <h4 class="mb-3">Polar Chart </h4> -->
                        <canvas id="polarChart2"></canvas>
                    </div>
                </div>
            </div>
            <!-- /# column -->



            <div class="col-lg-7">
                <div class="card">
                    <div class="card-body">
                        <h4 class="mb-3">Yearly Sales </h4>
                        <canvas id="sales-chart"></canvas>
                    </div>
                </div>
            </div>
            <!-- /# column -->


            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="mb-3">Bar chart </h4>
                        <canvas id="barChart"></canvas>
                    </div>
                </div>
            </div>
            <!-- /# column -->


            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="mb-3">Line Chart </h4>
                        <canvas id="lineChart"></canvas>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="mb-3">Doughut Chart </h4>
                            <canvas id="doughutChart"></canvas>
                        </div>
                    </div>
                </div>
                <!-- /# column -->

            </div>
            <!-- /# column -->

            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="mb-3">Pie Chart </h4>
                        <canvas id="pieChart"></canvas>
                    </div>
                </div>
            </div>
            <!-- /# column -->

            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="mb-3">Single Bar Chart </h4>
                        <canvas id="singelBarChart"></canvas>
                    </div>
                </div>
            </div>
            <!-- /# column -->

            <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="mb-3">Single Bar Chart </h4>
                            <canvas id="singelBarChart2"></canvas>
                        </div>
                    </div>
                </div>
                <!-- /# column -->



        </div>

    </div>
    <!-- .animated -->
</div>
<!-- /.content -->
{% endblock %} {% block script %}

<!--  Chart js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.7.3/dist/Chart.bundle.min.js"></script>
<script src="../static/js/init/chartjs-init.js"></script>
<!--Flot Chart-->
<script src="https://cdn.jsdelivr.net/npm/jquery.flot@0.8.3/jquery.flot.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flot-spline@0.0.1/js/jquery.flot.spline.min.js"></script>

{% endblock %}