{% extends 'base.html' %} {% block title %}Player Page{% endblock %}

{% block content %}

<!-- Content -->
<div class="content">
    <div class="animated fadeIn">
        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">Players</strong>
                    </div>
                    <div class="card-body">
                        <table id="bootstrap-data-table" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th class="photo">Photo</th>
                                    <th class="Name">Name</th>
                                    <th class="flag">Flag</th>
                                    <th>Nationality</th>
                                    <th>Value (M€)</th>
                                    <th>Wage (K€)</th>
                                    <th>Overall</th>
                                    <th>Potential</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for player in players %}
                                <tr>
                                    <td class="photo">
                                        <div class="round-img">
                                            <a href="#"><img class="rounded-circle" src="{{ url_for('static', filename='images/player/'+player.photo) }}"
                                                    alt=""></a>
                                        </div>
                                    </td>
                                    <td class="Name">
                                        <a class="btn btn-block " href="{{ url_for('player.index', id = player.id) }}">{{player.name}}
                                    </td>
                                    <td class="Flag">
                                        <div class="round-img">
                                            <a href="#"><img class="rounded-0" src="{{ url_for('static', filename='images/flag/'+player.flag) }}"
                                                    alt=""></a>
                                        </div>
                                    </td>
                                    <td>{{player.nationality}}</td>
                                    <td>{{player.value}}</td>
                                    <td>{{player.wage}}</td>
                                    <td>{{player.overall}}</td>
                                    <td>{{player.potential}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- .animated -->
</div><!-- .content -->
{% endblock %}


{% block script %}
<!-- Scripts -->

<script src="../static/js/lib/data-table/datatables.min.js"></script>
<script src="../static/js/lib/data-table/dataTables.bootstrap.min.js"></script>
<script src="../static/js/lib/data-table/dataTables.buttons.min.js"></script>
<script src="../static/js/lib/data-table/buttons.bootstrap.min.js"></script>
<script src="../static/js/lib/data-table/jszip.min.js"></script>
<script src="../static/js/lib/data-table/vfs_fonts.js"></script>
<script src="../static/js/lib/data-table/buttons.html5.min.js"></script>
<script src="../static/js/lib/data-table/buttons.print.min.js"></script>
<script src="../static/js/lib/data-table/buttons.colVis.min.js"></script>
<script src="../static/js/init/datatables-init.js"></script>


<script type="text/javascript">
    $(document).ready(function() {
      $('#bootstrap-data-table-export').DataTable();
  } );
</script>

{% endblock %}
