{% extends 'base.html' %} {% block title %}Player Page{% endblock %} {% block content %}
<!-- Content -->
<div class="content">
    <div class="animated fadeIn">
        <div class="row">

            <div class="col-lg-6 col-md-6">
                    <aside class="profile-nav alt">
                        <section class="card">
                            <div class="card-header user-header alt bg-light">
                                <div class="media">
                                    <a href="#">
                                        <img class="rounded-circle" src="{{ url_for('static', filename='images/player/'+player_detail.photo) }}" alt=""></a>
                                    </a>
                                    <div class="media-body">
                                        <h3 class="text-dark display-6">{{player_detail["name"]}}</h3>
                                        <i class="fa fa-futbol-o" aria-hidden="true"></i>
                                        <span>Position: {{player_detail["position"]+"  "}}</span>
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                        <span>Age: {{player_detail["age"]}}</span>
                                        <br>
                                        <span>{{player_detail["nationality"]}}</span>
                                        <img class="rounded-0" src="{{ url_for('static', filename='images/flag/'+player_detail.flag) }}" alt="" width=12% height=12%>
                                        <br>
                                        <a href="{{ url_for('team_detail.index', id = player_detail.club_id) }}">
                                            <span>{{player_detail.club_name}}</span>
                                        </a>
                                        <a href="{{ url_for('team_detail.index', id = player_detail.club_id) }}">
                                            <img class="rounded-0" src="{{ url_for('static', filename='images/club/'+player_detail.logo) }}" alt="" width=12% height=12%>
                                        </a>
                                    </div>
                                    <button type="button" class="btn btn-outline-primary btn-sm">
                                        <a href="{{ url_for('similar_player.index', id = id) }}"><i class="fa fa-bookmark" aria-hidden="true"></i> Similar Players</a>
                                    </button>
                                </div>
                            </div>
                        <!-- </div>
                        </div> -->

                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <a>  Overall Rating <i class="fa fa-flag"></i> <span class="badge badge-primary pull-right">{{player_detail["overall"]}}</span></a>
                                </li>
                                <li class="list-group-item">
                                    <a> Potential <i class="fa fa-rocket"></i> <span class="badge badge-danger pull-right">{{player_detail["potential"]}}</span></a>
                                </li>
                                <li class="list-group-item">
                                    <a> Value <i class="fa fa-eur"></i>  <span class="badge badge-success pull-right"> {{player_detail["value"]}} M</span></a>
                                </li>
                                <li class="list-group-item">
                                    <a>  Wage <i class="fa fa-eur"></i> <span class="badge badge-warning pull-right r-activity">{{player_detail["wage"]}} K</span></a>
                                </li>
                            </ul>

                    </section>
                </aside>
            </div>
            <!-- /# column -->

            <input id="empty" name={{id}} hidden> </label>


            <div class="col-lg-6 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <!-- <button onclick="fetch_data_and_change()">Fetch Data and Change</button> -->
                        <h4 class="mb-3" style="vertical-align:middle; text-align: center">Overall Ability </h4>
                        <canvas id="radarChart"></canvas>

                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="mb-3" style="vertical-align:middle; text-align: center">Passing</h4>
                        <canvas id="polarChart"></canvas>
                    </div>
                </div>
            </div>

            <!-- /# column -->

            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="mb-3" style="vertical-align:middle; text-align: center">Dribbling</h4>
                        <canvas id="polarChart2"></canvas>
                    </div>
                </div>
            </div>
            <!-- /# column -->


            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="mb-3" style="vertical-align:middle; text-align: center">Physical</h4>
                        <canvas id="polarChart3"></canvas>
                    </div>
                </div>
            </div>


            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="mb-3" style="vertical-align:middle; text-align: center">Shooting</h4>
                        <canvas id="singelBarChart"></canvas>
                    </div>
                </div>
            </div>
            <!-- /# column -->

            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="mb-3" style="vertical-align:middle; text-align: center">Defending</h4>
                        <canvas id="singelBarChart2"></canvas>
                    </div>
                </div>
            </div>
            <!-- /# column -->

            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="mb-3" style="vertical-align:middle; text-align: center">Goal Keeper</h4>
                        <canvas id="singelBarChart3"></canvas>
                    </div>
                </div>
            </div>



        </div>

    </div>
    <!-- .animated -->
</div>
<!-- /.content -->
{% endblock %} {% block script %}

<!--  Chart js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.7.3/dist/Chart.bundle.min.js"></script>
<script src="../static/js/init/chartjs-init.js"></script>
<!--Flot Chart-->
<script src="https://cdn.jsdelivr.net/npm/jquery.flot@0.8.3/jquery.flot.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flot-spline@0.0.1/js/jquery.flot.spline.min.js"></script>

{% endblock %}