{% extends 'base.html' %} {% block title %}Player Page{% endblock %} {% block content %}

<input id="empty" name = {{id}} hidden> </label>
<input id="empty1" name = {{similar_players[0].id}} hidden> </label>


<div class="content">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <canvas id="radarChart2"></canvas>
                    </div>
                </div>
            </div>
            <!-- /# column -->

            <div class="col-lg-6 col-md-6">
                <aside class="profile-nav alt">
                    <section class="card">
                        <div class="card-header user-header alt bg-light">
                            <div class="media">
                                <a href="#">
                                    <img class="rounded-circle" src="{{ url_for('static', filename='images/player/'+similar_players[0]['photo'])}}"alt=""></a>
                                </a>
                                <div class="media-body">
                                    <h2 class="text-dark display-6">{{similar_players[0]["name"]}}</h2>
                                    <span>{{similar_players[0]["nationality"]}}</span>
                                    
                                </div>
                            </div>
                        </div>



                    </section>
                </aside>
            </div>
        
        </div>

    </div>
    <!-- .animated -->
</div>
<!-- /.content -->
{% endblock %} {% block script %}

<!--  Chart js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.7.3/dist/Chart.bundle.min.js"></script>
<script src="../static/js/init/similar_charts.js"></script>
<!--Flot Chart-->
<script src="https://cdn.jsdelivr.net/npm/jquery.flot@0.8.3/jquery.flot.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flot-spline@0.0.1/js/jquery.flot.spline.min.js"></script>

{% endblock %}
