{% extends 'base.html' %} {% block title %}Player Page{% endblock %} {% block content %}

<input id="empty" name = {{id}} hidden> </label>
<input id="empty1" name = {{similar_players[0].id}} hidden> </label>
<input id="empty2" name = {{similar_players[1].id}} hidden> </label>
<input id="empty3" name = {{similar_players[2].id}} hidden> </label>
<input id="empty4" name = {{similar_players[3].id}} hidden> </label>
<input id="empty5" name = {{similar_players[4].id}} hidden> </label>

{% for similar_player in similar_players %}
<div class="content">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <canvas id="{{'radarChart' ~ similar_player.id}}"></canvas>
                    </div>
                </div>
            </div>
            <!-- /# column -->
            
            <div class="col-lg-6 col-md-6">
                <aside class="profile-nav alt">
                    <section class="card">
                        <div class="card-header user-header alt bg-light">
                            <div class="media">
                                <a href="#">
                                    <img class="rounded-circle" src="{{ url_for('static', filename='images/player/'+similar_player.photo)}}"alt=""></a>
                                </a>
                                <div class="media-body">
                                    <h2 class="text-dark display-6">{{similar_player.name}}</h2>
                                    <h2 class="text-dark display-6">{{similar_player.nationality}}</h2>
                                    
                                </div>
                            </div>
                        </div>

                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <a>  Overall Rating <i class="fa fa-flag"></i> <span class="badge badge-primary pull-right">{{similar_player["overall"]}}</span></a>
                            </li>
                            <li class="list-group-item">
                                <a> Potential <i class="fa fa-rocket"></i> <span class="badge badge-danger pull-right">{{similar_player["potential"]}}</span></a>
                            </li>
                            <li class="list-group-item">
                                <a> Value <i class="fa fa-eur"></i>  <span class="badge badge-success pull-right"> {{similar_player["value"]}} M</span></a>
                            </li>
                            <li class="list-group-item">
                                <a>  Wage <i class="fa fa-eur"></i> <span class="badge badge-warning pull-right r-activity">{{similar_player["wage"]}} K</span></a>
                            </li>
                        </ul>



                    </section>
                </aside>
            </div>
            {% endfor %}
        </div>

    </div>
    <!-- .animated -->
</div>
<!-- /.content -->
{% endblock %} {% block script %}

<!--  Chart js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.7.3/dist/Chart.bundle.min.js"></script>
<script src="../static/js/init/similar_charts.js"></script>
<!--Flot Chart-->
<script src="https://cdn.jsdelivr.net/npm/jquery.flot@0.8.3/jquery.flot.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flot-spline@0.0.1/js/jquery.flot.spline.min.js"></script>

{% endblock %}
