{% extends 'base.html' %} {% block title %}Player Page{% endblock %} {% block content %}

<input id="empty" name={{id}} hidden> </label>
<input id="empty1" name={{similar_players[1].id}} hidden> </label>
<input id="empty2" name={{similar_players[2].id}} hidden> </label>
<input id="empty3" name={{similar_players[3].id}} hidden> </label>
<input id="empty4" name={{similar_players[4].id}} hidden> </label>
<input id="empty5" name={{similar_players[5].id}} hidden> </label>

<div class="content">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="mb-3" style="vertical-align:middle; text-align: center">Original Chart </h4>
                        <canvas id='radarChart6'></canvas>
                    </div>
                </div>
            </div>
            <!-- /# column -->

            <div class="col-lg-6 col-md-6">
                <aside class="profile-nav alt">
                    <section class="card">
                        <div class="card-header user-header alt bg-light">
                            <div class="media">
                                <a href="{{ url_for('player.index', id = similar_players[0].id) }}">
                                    <img class="rounded-circle" src="{{ url_for('static', filename='images/player/'+similar_players[0].photo)}}" alt=""></a>
                                </a>
                                <div class="media-body">
                                    <a href="{{ url_for('player.index', id = similar_players[0].id) }}">
                                        <h3 class="text-dark display-6">{{similar_players[0].name}}</h3>
                                    </a>
                                    <i class="fa fa-futbol-o" aria-hidden="true"></i>
                                    <span>Position: {{similar_players[0]["position"]}}</span>
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                    <span>Age: {{similar_players[0]["age"]}}</span>
                                    <br>
                                    <span>{{similar_players[0]["nationality"]}}</span>
                                    <img class="rounded-0" src="{{ url_for('static', filename='images/flag/'+similar_players[0].flag) }}" alt="" width=8% height=8%>
                                    <br>
                                    <a href="{{ url_for('team_detail.index', id = similar_players[0].club_id) }}">
                                        <span>{{similar_players[0].club_name}}</span>
                                    </a>
                                    <a href="{{ url_for('team_detail.index', id = similar_players[0].club_id) }}">
                                        <img class="rounded-0" src="{{ url_for('static', filename='images/club/'+similar_players[0].logo) }}" alt="" width=8% height=8%>
                                    </a>
                                </div>
                                <!-- <div class="h1 text-muted text-right mb-4">
                                    <a href="{{ url_for('similar_player.index', id = id) }}"><i class="menu-icon fa fa-fort-awesome"></i> Similar Player </a>
                                </div> -->
                            </div>
                        </div>

                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <a>  Overall Rating <i class="fa fa-flag"></i> <span class="badge badge-primary pull-right">{{similar_players[0]["overall"]}}</span></a>
                            </li>
                            <li class="list-group-item">
                                <a> Potential <i class="fa fa-rocket"></i> <span class="badge badge-danger pull-right">{{similar_players[0]["potential"]}}</span></a>
                            </li>
                            <li class="list-group-item">
                                <a> Value <i class="fa fa-eur"></i>  <span class="badge badge-success pull-right"> {{similar_players[0]["value"]}} M</span></a>
                            </li>
                            <li class="list-group-item">
                                <a>  Wage <i class="fa fa-eur"></i> <span class="badge badge-warning pull-right r-activity">{{similar_players[0]["wage"]}} K</span></a>
                            </li>
                        </ul>



                    </section>
                </aside>
            </div>
        </div>

        {% for similar_player in similar_players[1:] %}
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="mb-3" style="vertical-align:middle; text-align: center">{{similar_players[0].name+ ' VS. '+ similar_player.name}} </h4>
                        <canvas id="{{'radarChart' ~ similar_player.id}}"></canvas>
                    </div>
                </div>
            </div>
            <!-- /# column -->

            <div class="col-lg-6 col-md-6">
                <aside class="profile-nav alt">
                    <section class="card">
                        <div class="card-header user-header alt bg-light">
                            <div class="media">
                                <a href="{{ url_for('player.index', id = similar_player.id) }}">
                                    <img class="rounded-circle" src="{{ url_for('static', filename='images/player/'+similar_player.photo)}}" alt=""></a>
                                </a>
                                <div class="media-body">
                                    <a href="{{ url_for('player.index', id = similar_player.id) }}">
                                        <h3 class="text-dark display-6">{{similar_player.name}}</h3>
                                    </a>
                                    <i class="fa fa-futbol-o" aria-hidden="true"></i>
                                    <span>Position: {{similar_player["position"]}}</span>
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                    <span>Age: {{similar_player["age"]}}</span>
                                    <br>
                                    <span>{{similar_player["nationality"]}}</span>
                                    <img class="rounded-0" src="{{ url_for('static', filename='images/flag/'+similar_player.flag) }}" alt="" width=8% height=8%>
                                    <br>
                                    <a href="{{ url_for('team_detail.index', id = similar_player.club_id) }}">
                                        <span>{{similar_player.club_name}}</span>
                                    </a>
                                    <a href="{{ url_for('team_detail.index', id = similar_player.club_id) }}">
                                    <img class="rounded-0" src="{{ url_for('static', filename='images/club/'+similar_player.logo) }}" alt="" width=8% height=8%>
                                    </a>
                                </div>
                                <!-- <div class="h1 text-muted text-right mb-4">
                                    <a href="{{ url_for('similar_player.index', id = id) }}"><i class="menu-icon fa fa-fort-awesome"></i> Similar Player </a>
                                </div> -->
                            </div>
                        </div>

                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <a>  Overall Rating <i class="fa fa-flag"></i> <span class="badge badge-primary pull-right">{{similar_player["overall"]}}</span></a>
                            </li>
                            <li class="list-group-item">
                                <a> Potential <i class="fa fa-rocket"></i> <span class="badge badge-danger pull-right">{{similar_player["potential"]}}</span></a>
                            </li>
                            <li class="list-group-item">
                                <a> Value <i class="fa fa-eur"></i>  <span class="badge badge-success pull-right"> {{similar_player["value"]}} M</span></a>
                            </li>
                            <li class="list-group-item">
                                <a>  Wage <i class="fa fa-eur"></i> <span class="badge badge-warning pull-right r-activity">{{similar_player["wage"]}} K</span></a>
                            </li>
                        </ul>
                    </section>
                </aside>
            </div>
        </div>
        {% endfor %}


    </div>
    <!-- .animated -->
</div>
<!-- /.content -->
{% endblock %} {% block script %}

<!--  Chart js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.7.3/dist/Chart.bundle.min.js"></script>
<script src="../static/js/init/similar_charts.js"></script>
<!--Flot Chart-->
<script src="https://cdn.jsdelivr.net/npm/jquery.flot@0.8.3/jquery.flot.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flot-spline@0.0.1/js/jquery.flot.spline.min.js"></script>

{% endblock %}