{% extends 'base.html' %} {% block title %}Player Page{% endblock %}

{% block content %}

<!-- Content -->
<div class="content">
    <div class="animated fadeIn">
        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">Data Table</strong>
                    </div>
                    <div class="card-body">
                        <table id="bootstrap-data-table" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th class="Club Name">Club Name</th>
                                    <th class="Club Logo">Logo</th>
                                    <th>Count</th>
                                    <th>Overall</th>
                                    <th>Potential</th>
                                    <th>Total Value (M€)</th>
                                    <th>Total Wage (K€)</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for team in teams %}
                                <tr>
                                    <td class="Club Name" >
                                        <a class="btn btn-block " 
                                            href="{{ url_for('team_detail.index', id = team.club_id) }}" >{{team.club_name}}
                                        </td>
                                    <td class="Club Logo">
                                        <div class="round-img">
                                            <a href="#"><img class="rounded-0" src="{{ url_for('static', filename='images/club/'+team.club_logo) }}" alt=""></a>
                                        </div>
                                    </td>
                                    <td style="vertical-align:middle; text-align: center">{{team.count}}</td>
                                    <td style="vertical-align:middle; text-align: center">{{team.overall}}</td>
                                    <td style="vertical-align:middle; text-align: center">{{team.potential}}</td>
                                    <td style="vertical-align:middle; text-align: center">{{team.totalvalue}}</td>
                                    <td style="vertical-align:middle; text-align: center">{{team.totalwage}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- .animated -->
</div><!-- .content -->
{% endblock %}


{% block script %}
<!-- Scripts -->

<script src="../static/js/lib/data-table/datatables.min.js"></script>
<script src="../static/js/lib/data-table/dataTables.bootstrap.min.js"></script>
<script src="../static/js/lib/data-table/dataTables.buttons.min.js"></script>
<script src="../static/js/lib/data-table/buttons.bootstrap.min.js"></script>
<script src="../static/js/lib/data-table/jszip.min.js"></script>
<script src="../static/js/lib/data-table/vfs_fonts.js"></script>
<script src="../static/js/lib/data-table/buttons.html5.min.js"></script>
<script src="../static/js/lib/data-table/buttons.print.min.js"></script>
<script src="../static/js/lib/data-table/buttons.colVis.min.js"></script>
<script src="../static/js/init/datatables-init.js"></script>


<script type="text/javascript">
    $(document).ready(function() {
      $('#bootstrap-data-table-export').DataTable();
  } );
</script>

{% endblock %}
