{% extends 'base.html' %} {% block title %}Player Page{% endblock %}

{% block content %}

<!-- Content -->
<div class="content">
    <div class="animated fadeIn">
        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">Data Table</strong>
                    </div>
                    <div class="card-body">
                        <table id="bootstrap-data-table" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Club Name</th>
                                    <th class="Club Logo">Club Logo</th>
                                    <th>Count</th>
                                    <th>Overall</th>
                                    <th>Potential</th>
                                    <th>Total Value (M€)</th>
                                    <th>Total Wage (K€)</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for team in teams %}
                                <tr>
                                    <td>{{team.club_name}}</td>
                                    <td class="Club Logo">
                                            <div class="round-img">
                                                <a href="#"><img class="rounded-circle" src="../images/club/club1.jpg" alt=""></a>
                                            </div>
                                        </td>
                                    <td>{{team.count}}</td>
                                    <td>{{team.overall}}</td>
                                    <td>{{team.potential}}</td>
                                    <td>{{team.value}}</td>
                                    <td>{{team.wage}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- .animated -->
</div><!-- .content -->
{% endblock %}


{% block script %}
<!-- Scripts -->

<script src="../static/js/lib/data-table/datatables.min.js"></script>
<script src="../static/js/lib/data-table/dataTables.bootstrap.min.js"></script>
<script src="../static/js/lib/data-table/dataTables.buttons.min.js"></script>
<script src="../static/js/lib/data-table/buttons.bootstrap.min.js"></script>
<script src="../static/js/lib/data-table/jszip.min.js"></script>
<script src="../static/js/lib/data-table/vfs_fonts.js"></script>
<script src="../static/js/lib/data-table/buttons.html5.min.js"></script>
<script src="../static/js/lib/data-table/buttons.print.min.js"></script>
<script src="../static/js/lib/data-table/buttons.colVis.min.js"></script>
<script src="../static/js/init/datatables-init.js"></script>


<script type="text/javascript">
    $(document).ready(function() {
      $('#bootstrap-data-table-export').DataTable();
  } );
</script>

{% endblock %}
